<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.6" />

    <authentication mode="Forms">
      <forms name="VAS_Username" loginUrl="~/Login.aspx" protection="All" timeout="30" path="/" />
    </authentication>
    <customErrors mode="Off" defaultRedirect="~/Login.aspx" />


    <httpRuntime targetFramework="4.6" />
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="HashKey" value="!SP@BBC@$%^*" />
  </appSettings>
  <connectionStrings>
    <add name="BusinessObject.Properties.Settings.dbVASConnectionString" connectionString="Data Source=.\sql2014;Initial Catalog=dbVAS;Persist Security Info=True;User ID=sa;Password=123" providerName="System.Data.SqlClient" />
    <add name="dbVASEntities" connectionString="metadata=res://*/Context.dbVAS.csdl|res://*/Context.dbVAS.ssdl|res://*/Context.dbVAS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sql2014;initial catalog=dbVAS;persist security info=True;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>